*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}  
body{
    background: url(images/leaf-bg\ \(1\).svg);
    font-family: 'Dosis', sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 75px 20px;
    font-family: 'Dosis', sans-serif;
}
h2 {
    text-align: left;
    text-transform: uppercase;
    margin: 75px 20px;
    font-family: 'Dosis', sans-serif;
    text-shadow: 1.1px 1.1px rgb(85, 87, 88);
}
h3{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
h6{
    font-size: 16px;
    margin: 8px 0;
}
#backgroundImg {
    background: url(images/sales1.24.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
.gallery{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.content{
    width: 20%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, .22);
    transition: .4s;
    background: #fff;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

button{
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background-color: rgb(9, 65, 9);
}
.buy-2{
    background-color: rgb(218, 187, 16);
}
.buy-3{
    background-color: rgb(204, 30, 30);
}
/*@media(max-width:1000px){
    .content{
        width: 45px;
    }
}*/
@media(max-width:750px){
    .content{
        width: 100%;
    }
    h2{
        text-align: center;
    }
}

.gallery2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.content2{
    width: 30%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(219, 215, 215, 0.25), 0 10px 10px rgba(216, 210, 210, 0.22);
    background: rgba(255, 255, 255, 0.171);
}
.content2 img{
    width: 150px;
    height: 125px;
}

p{
    letter-spacing: 1.3px;
    text-align: center;
    font-size: 13px;
    font-weight: 550;
    color: rgb(126, 121, 121);
    margin: 10px 8px;
    padding: 0 auto;
    text-transform: capitalize;
}


/*@media(max-width:1000px){
    .content{
        width: 45px;
    }
}*/
@media(max-width:750px){
    .content2{
        width: 100%;
    }
    h2{
        text-align: center;
    }
}


/*--------- NAV & FOOTER ---------*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(7, 90, 90);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   .logo {
    font-size: 38px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: rgb(56, 51, 51);
   }
   a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
   }
   .menu {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   .services {
    position: relative; 
   }
   .dropdown {
    list-style: none;
    background-color: rgb(2, 73, 73);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
   
  input[type=checkbox]{
    display: none;
   } 
   
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   
   @media (max-width: 1100px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }


footer{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.footer{
    margin-top: 50px;
    width: 100%;
    padding: 100px 12%;
    background: rgb(7, 90, 90);
    color: white;
    display: flex;
}
.footer div{
    text-align: center;
}
#header3{
    color: #fff;
}
#para{
    color: #fff;
}
.center{
    flex-grow: 2;
}
.center img{
    height: 100px;
    width: 150px;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: black;
    font-weight: 500;
}
.left a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.icons{
    margin-top: 16px;
    display: flex;

}
.icons i{
    color: white;
    font-size: 25px;
    margin: 15px;
    cursor: pointer;
}
a:hover{
    background: #4c9e9e;
    transition: .5s;
}