*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}  
body{
    background: url(images/leaf-bg\ \(1\).svg);
    font-family: 'Dosis', sans-serif;
    margin: 5px;
}  
h1, h2{
    margin: 7px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
}
#header1{
    margin-top: 50px;
    text-shadow: 1px 1px rgb(32, 31, 31);
}
.holdingcontainer{
    max-width: 100%;
    display: flex;
    background: url(images/leaf-bg\ \(1\).svg);
    padding: 50px;
    box-sizing: border-box;
    flex-direction: column;
}

.internalcontainerL{
    flex: 1;
    border-radius: 30px;
    background: #a8e7bf;
    padding: 30px;
    margin: 3px;
    box-shadow: 20px 20px 50px rgb(224, 221, 221);
    border: 5px solid rgb(185, 160, 16);
}
.internalcontainerM{
    flex: 1;
    border-radius: 30px;
    background: #cff1db;
    padding: 30px;
    margin: 3px;
    box-shadow: 20px 20px 50px rgba(224, 221, 221, 0.274);
    border: 5px solid rgb(185, 160, 16);
}
.internalcontainerL:hover{
    background-color: #48cc79;
}
.internalcontainerM:hover{
    background-color: #48cc79;
}

.dasimages{
    width: 100%;
    height: 350px;
}
#paragraph{
    font-size: 18px;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: 0.7px;
    padding: 2px;
    margin: 10px;
    text-align: justify;
} 
  #map1{
    border: 3px solid rgb(219, 194, 52);
    border-radius: 15px;
    margin: 30px 0 10px 70px;
    width: 80%;
    height: 290px;
}
  #map2{
    border: 3px solid rgb(219, 194, 52);      
    border-radius: 15px;
    margin: 20px 70px;
    width: 80%;
    height: 290px;
}

@media screen and (max-width: 768px){
    .holdingcontainer{
      flex-direction: column;
    }
}

#header2{
    margin: 60px 0;
    text-shadow: 1px 1px rgb(32, 31, 31);
}
table {

    border-collapse: collapse;
    margin: 0 auto;
    width: 88%;
}

.header_fixed {
    border: 2px solid #dddddd;
}

.header_fixed thead th {
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 19px;
    text-align: justify;
}

td img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #0b3f24;
    cursor: pointer;
    background-color: #ffffff;
}

/*--------- NAVIGATION & FOOTER ---------*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(27, 114, 114);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   .logo {
    font-size: 38px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: rgb(56, 51, 51);
   }
   a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
   }
   .menu {
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   .services {
    position: relative; 
   }
   .dropdown {
    list-style: none;
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
   
  input[type=checkbox]{
    display: none;
   } 
   
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   
   @media (max-width: 1100px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:rgb(26, 117, 117);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }



footer{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.footer{
    margin-top: 50px;
    width: 100%;
    padding: 100px 12%;
    background: rgb(15, 100, 100);
    color: white;
    display: flex;
}
.footer div{
    text-align: center;
}
.center{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.left a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.icons{
    margin-top: 16px;
    display: flex;

}
.icons i{
    color: white;
    font-size: 25px;
    margin: 15px;
    cursor: pointer;
}
a:hover{
    background: 4c9e9e;
    transition: .5s;
}

